---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SubHead from '../components/SubHead.astro';
import AboutContainer from '../components/AboutContainer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ContactContainer from '../components/ContactContainer.astro';
import PortfolioContainer from '../components/PortfolioContainer.astro'
import { ViewTransitions } from 'astro:transitions';
import Showmore from '../components/Showmore.astro';
---
<script>
	const colors = [
	  "bg-pink-400",
	  "bg-teal-400",
	  "bg-orange-400",
	  "bg-blue-400",
	  "bg-purple-400",
	];
	
	  const cards = document.querySelectorAll<HTMLParagraphElement>(".chamaleon");
	
	
	  cards.forEach((card) => {
	
		card.addEventListener("click", () => {
		  changeColors(card)
		});
		// card.addEventListener("touchstart", () => {
		//   changeColors(card)
		// });
	  });
	
	  const changeColors=(card:HTMLParagraphElement)=>{
		let currentColor = card.classList.value.split(" ").at(-1);
		  let filteredColors = colors.filter((color) => color !== currentColor);
		  //   console.log("currentColor",currentColor);
		  let newColor =
			filteredColors[
			  Math.floor(Math.floor(Math.random() * filteredColors.length))
			];
		  //   console.log("newColor",newColor);
		  console.log("currentColor",currentColor);
		  card.classList.replace(currentColor!, newColor);
		  //  console.log("cliecked",card.classList);
	  }
	</script>
<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header />

		<main  class="font-publicSans">
			<hr class="border-black border-4 w-full h-1" ></hr>
			<SubHead title="Porfolio" extra/> 
			<hr class="border-black border-4 w-full h-1" ></hr>
			<PortfolioContainer/>
			<Showmore/>
			<SubHead title="Contact" />
			
			<ContactContainer/>
			<hr class="border-black border-4 w-full h-1" ></hr>
			<SubHead title="About me" />
			
			<AboutContainer/>
			<hr class="border-black border-4 w-full h-1" ></hr>
		</main>
		<Footer />
	</body>
</html>
