---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SubHead from '../components/SubHead.astro';
import AboutContainer from '../components/AboutContainer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import ContactContainer from '../components/ContactContainer.astro';
import PortfolioContainer from '../components/PortfolioContainer.astro'
import { ViewTransitions } from 'astro:transitions';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
		<ViewTransitions />
	</head>
	<body>
		<Header />

		<main  class="font-publicSans">
			<hr class="border-black border-4 w-full h-1" ></hr>
			<SubHead title="Porfolio" extra/> 
			<hr class="border-black border-4 w-full h-1" ></hr>
			<PortfolioContainer/>
			
			<SubHead title="Contact" />
			
			<ContactContainer/>
			<hr class="border-black border-4 w-full h-1" ></hr>
			<SubHead title="About me" />
			
			<AboutContainer/>
			<hr class="border-black border-4 w-full h-1" ></hr>
		</main>
		<Footer />
	</body>
</html>
