---
import Card from "./Card.astro";
---
<div>
    <Card text={"Officiis deserunt debitis, illo libero porro perferendis deleniti, aliquam "} />
    <Card text="Lorem, ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, tempore itaque."/>
    <Card text="ipsam iusto nulla esse, aspernatur eligendi. Dolor nemo deleniti illum?"/>
</div>
