---

---

<button
  class={`font-bold 
        p-2 m-2 
        bg-green-400 
        neo-brutal-shadow
        active:neo-brutal-shadow-active
        border-black border-4
        transition duration-500
        `}
>
  Resume
</button>
