---
import DancyButtons from "./DancyButtons.astro";
---

<script>
  // Import npm modules.
  //@ts-ignore
  import confetti from "canvas-confetti";
  let rotationAngle = 0;
  // Find our component DOM on the page.
  const button = document.getElementById("resume-download")!;

  // Add event listeners to fire confetti when a button is clicked.
  button!.addEventListener("click", () => {
    confetti();
    let a = document.createElement("a");
    a.href = "/resume/JoshuaRodrigues_resume_2023.pdf";
    a.target = "_blank";
    a.click();
  });


</script>


  <DancyButtons >
    <button
      id="resume-download"
      class={`font-bold 
            p-2 m-2 flex items-center justify-center
            bg-green-400 
            neo-brutal-shadow
            md:text-3xl
            active:neo-brutal-shadow-active
            border-black border-4
            transition duration-500
            kreep
            `}
    >
    <span class="kreep">Resume</span>
       <svg
        class="kreep"
        xmlns="http://www.w3.org/2000/svg"
        width="32"
        height="32"
        fill="#000000"
        viewBox="0 0 256 256"
        ><path
          d="M210.78,39.25l-130.25-23A16,16,0,0,0,62,29.23l-29.75,169a16,16,0,0,0,13,18.53l130.25,23h0a16,16,0,0,0,18.54-13l29.75-169A16,16,0,0,0,210.78,39.25ZM178.26,224h0L48,201,77.75,32,208,55ZM89.34,58.42a8,8,0,0,1,9.27-6.48l83,14.65a8,8,0,0,1-1.39,15.88,8.36,8.36,0,0,1-1.4-.12l-83-14.66A8,8,0,0,1,89.34,58.42ZM83.8,89.94a8,8,0,0,1,9.27-6.49l83,14.66A8,8,0,0,1,174.67,114a7.55,7.55,0,0,1-1.41-.13l-83-14.65A8,8,0,0,1,83.8,89.94Zm-5.55,31.51A8,8,0,0,1,87.52,115L129,122.29a8,8,0,0,1-1.38,15.88,8.27,8.27,0,0,1-1.4-.12l-41.5-7.33A8,8,0,0,1,78.25,121.45Z"
        ></path></svg
      >
    </button>
  </DancyButtons>

<style>
@keyframes kreep {
    0% {-webkit-transform: scale(1.1,.9);
        transform: scale(1.1,.9);}
   50% { -webkit-transform: scale(.9,1.1) translateY(-.5rem)}
   70% { -webkit-transform: scale(1);
         transform: scale(1);}
}

span.kreep {
  display: inline-block;
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 1s ease 2s infinite alternate;
}

button.kreep{
 
  /*name-duration-function(ease,eas-in,linear)-delay-count-direction */
  animation: kreep 1s ease 2s infinite alternate;
}
button.kreep:hover {
  animation: none;
}


</style>
