---
let {
  text,
  defaultColor,
  flip = false,
  imageurl = "https://avatars.githubusercontent.com/u/54748294?v=4",
  alt,
  bg = "bg-black",
  extra,
  startExtra,
} = Astro.props;
import { Image } from "astro:assets";
---

{
  startExtra && (
    <span class="text-sm md:text-lg font-cursive">
      Click on anything colorful to change colors
    </span>
  )
}
<p
  id="about-card"
  class={`m-5 w-full chamaleon p-5 cursor-pointer lg:w-1/2 font-semibold font-publicSans border-black border-2 neo-brutal-shadow
    transform -translate-x-1/2 -translate-y-1/2 ${
      flip ? "transform-growth-minus" : "transform-growth-plus"
    }  ${defaultColor}`}
>
  {text}
  <slot />
  <div
    class=`m-5 w-full -mt-14 -mb-14 md:-mt-[4rem] md:-mb-[4rem] p-5 cursor-pointer lg:w-1/2 font-semibold font-publicSans flex ${flip?" justify-end items-center":"justify-start items-center"} `
  >
    {
      extra && (
      
        <p class="text-sm md:text-lg z-10 font-cursive flex items-center">
          This could be your company logo{" "}
          <svg
            class="mx-1"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="#000000"
            viewBox="0 0 256 256"
          >
            <path d="M240,88v64a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h44.6l-22.36-22.21A88,88,0,0,0,40,184a8,8,0,0,1-16,0,104,104,0,0,1,177.54-73.54L224,132.77V88a8,8,0,0,1,16,0Z" />
          </svg>
        </p>
      )
    }
    <Image
      src={imageurl}
      alt={"profile"}
      class={`w-16 h-16 md:w-20 md:h-20 z-10 rounded-full border-4 border-black ${bg}`}
      width={100}
      height={100}
    />
  </div>
</p>
<style>
  .arrow-invert {
    transform: scaleX(-1);
  }
  .transform-growth-plus {
    transform: scale(1) rotate(3deg);
    transition: transform 0.3s ease;
  }

  /* Apply the hover effect */
  .transform-growth-plus:hover {
    transform: scale(1.1) rotate(0);
    z-index: 100;
  }

  /* Apply the click effect */
  .transform-growth-plus:active {
    transform: scale(1.1) rotate(-3deg);
    z-index: 100;
  }

  .transform-growth-minus {
    transform: scale(1) rotate(-3deg);
    transition: transform 0.3s ease;
  }

  /* Apply the hover effect */
  .transform-growth-minus:hover {
    transform: scale(1.1) rotate(0);
    z-index: 100;
  }

  /* Apply the click effect */
  .transform-growth-minus:active {
    transform: scale(1.1) rotate(3deg);
    z-index: 100;
  }
</style>
