---
let { text, defaultColor, flip = false, imageOnly } = Astro.props;
---

{
  !imageOnly ?
  <p
    id="about-card"
    class={`m-5 w-full chamaleon p-5 cursor-pointer lg:w-1/2 font-semibold font-publicSans border-black border-2 neo-brutal-shadow
    transform -translate-x-1/2 -translate-y-1/2 ${
      flip ? "transform-growth-minus" : "transform-growth-plus"
    }  ${defaultColor}`}
  >
    {text}
    <slot/>
  </p>:
  <div class={`w-full chamaleon cursor-pointer lg:w-1/2 `}>
    {text}
    <slot/>
  </div>
}
<style>
  .transform-growth-plus {
transform: scale(1) rotate(3deg);
transition: transform 0.3s ease;
}

/* Apply the hover effect */
.transform-growth-plus:hover {
transform: scale(1.1) rotate(0);
}

/* Apply the click effect */
.transform-growth-plus:active {
transform: scale(1.1) rotate(-3deg);
}

.transform-growth-minus {
transform: scale(1) rotate(-3deg);
transition: transform 0.3s ease;
}

/* Apply the hover effect */
.transform-growth-minus:hover {
transform: scale(1.1) rotate(0);
}

/* Apply the click effect */
.transform-growth-minus:active {
transform: scale(1.1) rotate(3deg);
}
</style>