---
 const {text} = Astro.props
---

<p
  class="m-5 p-5 font-semibold font-publicSans border-black border-2 neo-brutal-shadow
hover:neo-brutal-shadow-active -rotate-3 bg-pink-500 transition ease-in-out"
>
  {text}
</p>
