<div class="flex flex-col justify-center items-center">
  <p class="m-5 p-5 font-publicSans font-semibold">
    For inquiries drop me a line at
    <a href="mailto:joshuarodriguesdev@gmail.com">
      <span class="underline"> joshuarodriguesdev@gmail.com</span>
    </a>
  </p>
  
</div>
