<script>
  let myEmail = document.getElementById("email");
  let copy = document.getElementById("copy");
</script>

<div class="p-2 bg-pink-400 flex flex-col justify-center items-center">
  <p class="font-bold">My email:</p>
  <div
    class="m-2 p-2 border-black border-4 neo-brutal-shadow
hover:neo-brutal-shadow-active transition duration-500 block bg-indigo-300"
  >
    <a href="mailto:joshuarodriguesdev@gmail.com">
      <span class="font-bold" id="email" class="underline">
        joshuarodriguesdev@gmail.com</span
      >
    </a>
    <svg
      id="copy"
      class="inline ml-2"
      xmlns="http://www.w3.org/2000/svg"
      width="32"
      height="32"
      fill="#000000"
      viewBox="0 0 256 256"
      ><path
        d="M184,64H40a8,8,0,0,0-8,8V216a8,8,0,0,0,8,8H184a8,8,0,0,0,8-8V72A8,8,0,0,0,184,64Zm-8,144H48V80H176ZM224,40V184a8,8,0,0,1-16,0V48H72a8,8,0,0,1,0-16H216A8,8,0,0,1,224,40Z"
      ></path></svg
    >
  </div>
  <p class="font-bold">You can drop me message below</p>
  <form
    class="m-5 p-5 border-black bg-yellow-400 border-4 neo-brutal-shadow
  hover:neo-brutal-shadow-active font-bold"
    action=""
  >
    <label class="m-2" for="from">From :</label>
    <input
      required
      placeholder="example@email.com"
      class="m-2 p-2 border-black border-4 neo-brutal-shadow
    hover:neo-brutal-shadow-active block bg-indigo-300 placeholder-black transition duration-500"
      type="email"
      name="from"
      id="from"
    />
    <label class="m-2" for="body">Message :</label>
    <textarea
      required
      placeholder="Say something nice..."
      class="m-2 p-2 border-black border-4 neo-brutal-shadow
    hover:neo-brutal-shadow-active bg-indigo-300 placeholder-black transition duration-500"
      name="body"
      id="body"
      cols="30"
      rows="10"></textarea>
    <button
      class="m-2 p-2 border-black border-4 neo-brutal-shadow
    hover:neo-brutal-shadow-active bg-green-500 font-extrabold transition duration-500"
      type="submit">Send</button
    >
  </form>
</div>
