---
import { colors } from "./AboutContainer.astro";
import PortfolioCards from "./PortfolioCards.astro";
---

<div class="flex flex-col justify-center items-center">
  <PortfolioCards
    defaultColor={colors[1]}
    title="Kuzina"
    desp="Kitchen management system"
  />

  <PortfolioCards
    defaultColor={colors[0]}
    title="Kognitive"
    desp="Cbt journaling app"
    flip
  />
  <PortfolioCards
    defaultColor={colors[3]}
    title="Manga2epub4kindle"
    desp="cbr/cbz manga to epub convertor for kindle"
  />
  <PortfolioCards
    defaultColor={colors[4]}
    title="Glaucoma detector"
    desp="Find eye cup to disk ratio"
    flip
  />
</div>
