---
import { colors } from "./AboutContainer.astro";
import PortfolioCards from "./PortfolioCards.astro";
---

<div class="flex flex-col  justify-center items-center">
  <PortfolioCards 
  defaultColor={colors[0]}
  title="Kuzina" 
  desp="Kitchen management system" />

  <PortfolioCards 
  defaultColor={colors[1]}
  title="Kognitive" 
  desp="Cbt journaling app" />


</div>
