---
const {title,extra=false} = Astro.props
---

<h2 class=" text-2xl md:text-4xl m-5 font-publicSans font-extrabold flex items-center">
    <span id="left-bracket">
        <svg xmlns="http://www.w3.org/2000/svg" width="32"
        height="32" fill="none" viewBox="0 0 27 78"><path fill="#000000" d="M26.52 77.21h-5.75c-6.83 0-12.38-5.56-12.38-12.38V48.38C8.39 43.76 4.63 40 .01 40v-4c4.62 0 8.38-3.76 8.38-8.38V12.4C8.38 5.56 13.94 0 20.77 0h5.75v4h-5.75c-4.62 0-8.38 3.76-8.38 8.38V27.6c0 4.34-2.25 8.17-5.64 10.38 3.39 2.21 5.64 6.04 5.64 10.38v16.45c0 4.62 3.76 8.38 8.38 8.38h5.75v4.02Z"></path></svg>
    </span>
    <span id="subtitle">
        {`${title}`}
    </span>
    <span class="transform -scale-x-100" id="right-bracket">
        <svg xmlns="http://www.w3.org/2000/svg" width="32"
        height="32" fill="none" viewBox="0 0 27 78"><path fill="#000000" d="M26.52 77.21h-5.75c-6.83 0-12.38-5.56-12.38-12.38V48.38C8.39 43.76 4.63 40 .01 40v-4c4.62 0 8.38-3.76 8.38-8.38V12.4C8.38 5.56 13.94 0 20.77 0h5.75v4h-5.75c-4.62 0-8.38 3.76-8.38 8.38V27.6c0 4.34-2.25 8.17-5.64 10.38 3.39 2.21 5.64 6.04 5.64 10.38v16.45c0 4.62 3.76 8.38 8.38 8.38h5.75v4.02Z"></path></svg>
    </span>
    {
extra&&
        <p class="text-sm md:text-lg">⤺ My side projects</p>
    }
</h2>

<style>

</style>