<script>
  	const colors = [
	  "bg-pink-400",
	  "bg-teal-400",
	  "bg-orange-400",
	  "bg-blue-400",
	  "bg-purple-400",
	  "bg-rose-400",
    "bg-indigo-300",
	  "bg-lime-400"
	];
  let billboardTop = document.querySelector(".billboard-top")!
  let billboardBottom = document.querySelector(".billboard-bottom")!
  setInterval(()=>{
   
      let currentColor = billboardTop.classList.value.split(" ").at(-1);
		  let filteredColors = colors.filter((color) => color !== currentColor);
		  //   console.log("currentColor",currentColor);
		  let newColor =
			filteredColors[
			  Math.floor(Math.floor(Math.random() * filteredColors.length))
			];
		  //   console.log("newColor",newColor);
		  
		  billboardTop.classList.replace(currentColor!, newColor);
      billboardBottom.classList.replace(currentColor!, newColor);
  },500)
</script>

<div class="m-5">
  <h2
    class="text-4xl md:text-6xl lg:text-7xl xl:text-8xl flex flex-col font-rammettoOne"
  >
    <span class=" text-base md:text-xl">
        Hello world, I'm
    </span>
    <span
      class="p-2 billboard-top border-t-4 border-l-4 h-16 md:h-20 lg:h-24 xl:h-28 w-fit border-r-[8px] first-block inline-block border-black bg-indigo-300"
    >
      JOSHUA</span
    >
    <span
      class="p-2 billboard-bottom inline-block h-16 md:h-20 lg:h-24 xl:h-28 border-4 border-b-[6px] border-r-[8px] border-black bg-indigo-300"
    >
      RODRIGUES</span
    >
    <span class=" text-base inline-block text-right md:text-xl">
        a software dev
    </span>
  </h2>
</div>
<style>
  .first-block {
    transform: translateY(4px);
    z-index: 2;
    position: relative;
  }
  
</style>
