---
import { SITE_TITLE } from "../consts";
---

<div class="m-5">
  <h2 class="text-4xl h-64 flex flex-col font-rammettoOne">
    <span
      class="p-2 border-t-4 border-l-4 h-16 w-fit border-r-4 first-block inline-block bg-indigo-300 border-black"
    >
      JOSHUA</span
    >
    <span class="p-2 inline-block h-16 border-4 bg-indigo-300 border-black">
      RODRIGUES</span
    >
  </h2>
</div>
<style>
  .first-block {
    transform: translateY(4px);
    z-index: 2;
    position: relative;
  }
  .half-a-border-on-top {
  }
</style>
